.adminForms {
    max-width: 75rem;
    margin: 2rem;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px lightblue;
}

.adminsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.adminForms h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.volunteer-signup {
    margin: 2rem;
    padding: 4rem;
    background: aliceblue;
    border-radius: 10px;
    box-shadow: 10px 10px lightgray;
    flex: 1;
    max-width: 30rem;
}