* {
    margin: 0;
    padding: 0;
}

/* Logo stuff */
.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.3rem;
  }
  
  .logo img {
    height: 5rem;
    width: auto;
    border-radius: 20%;
  }
  
  .logo:hover {
    color: beige;
  }
  
  /* Navigation */
  .nav-container {
    background-color: #D35400;
    color: #F5F6FA;
    padding: 2.3rem;
    position: relative;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-left: 1.5rem;
  }
  
  nav li:first-child {
    margin-left: 0;
  }
  
  nav li a {
    text-decoration: none;
    color: #F5F6FA;
  }
  
  nav li a:hover {
    text-decoration: none;
    color: #a7afcc;
  }
  
  @media screen and (max-width: 900px) {
    .logo {
      display: none;
    }
  
    nav li {
      margin-left: 0.5rem;
    }
  }
  