#handboy {
    animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 98% 98%;
    transform-box: fill-box;

}


#girllight {
    animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 0% 97%;
    transform-box: fill-box;
}

#hairgirl {
    animation: swinghair ease-in-out 1.3s infinite alternate;
    transform-origin: 60% 0%;
    transform-box: fill-box;

}

#zero {
    transform-origin: bottom;
    transform-box: fill-box;

}

h1 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5F89BD;
    text-transform: uppercase;
    font-size: 5rem;
}

/*************swing************/
@keyframes swing {
    0% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}


/*************swing hair************/
@keyframes swinghair {
    0% {
        transform: rotate(6deg);
    }

    100% {
        transform: rotate(-6deg);
    }
}