.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;


    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #8cdffd;

    border: solid 10px #5f89bd;
    border-radius: 25px;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;

}