/* .registration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;


}

.registerForm {
    margin: 3rem;
}



.message2 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: pop-out 0.3s ease-in-out;
}

body {
    background: #ced1d5;
}


@keyframes pop-out {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
} */

.registration {
    max-width: 600px;
    margin: 0 auto;
}

.registerForm {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.submit {
    background-color: #14b9b980;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .registration {
        max-width: 100%;
        padding: 0 10px;
    }
}