.registration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;


}

.registerForm {
    margin: 3rem;
}



.message2 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: pop-out 0.3s ease-in-out;
}

body {
    background: #ced1d5;
}


@keyframes pop-out {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}