

.contact-form{
  background-image: url('https://besthqwallpapers.com/Uploads/16-4-2022/198172/thumb2-europe-from-space-blue-rays-digital-art-sci-fi-universe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* opacity: 80%; */
  padding: 10%;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10%;
 
}
h6{
  color:white ;
}

form label {
  font-size: 1rem;
  color: white;
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 98%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
}
h1{
  color: red;
}
form textarea {
  height: 150px;
}

form button[type='submit'] {
  background-color: white;
  color: #5f89bd;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type='submit']:hover {
  background-color: blue;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .contact-form {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .contact-form {
    max-width: 80%;
  }
}


