/* Resources.css */
.resources-container{
  background-color: white; /* set the background color to light blue */
  /* add any other styles you want for this page */
}

/* Hero section */
.hero-section {
    height: 400px;
background-color: white;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  /* Overlay on top of hero image */
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    background-color: white;
  }
  

/* resources Header */



h1.resources-header{
  color: #173E76;
}


  Header
  .resources-header {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  /* Articles section */

  .right {
    float: right;
  }
  

  body {
    background-color: #F3EFEF;
    /* font-family: 'Helvetica Neue', sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  h1, h2, h3 {
    /* font-family: 'Bodoni MT', serif; */
    font-weight: bold;
    text-transform: uppercase;
  }
  
  h1 {
    font-size: 36px;
    letter-spacing: 2px;
  }
  
  h2 {
    font-size: 24px;
    letter-spacing: 1px;
  }
  
  h3 {
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  p {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  a {
    color: #0066CC;
  }
  
  img {
    max-width: 100%;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }


  .section {
    margin-bottom: 60px;
  }
  
  .section-heading {
    margin-bottom: 20px;
  }
  
  .section-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .card:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    color: royalblue;
  }
  
  .card-image {
    position: relative;
    overflow: hidden;
  }
  
  .card-image img {
    transition: transform 0.3s ease-in-out;
  }
  

  

/* Article section styles */





/* List  */

ul {
  list-style: none;
  /* list-style-image: url('https://static.thenounproject.com/png/4626993-200.png'); */
 
}


 


  /* Volunteer section */
  .volunteer-container {
    margin-top: 50px;
  }
  
  .volunteer-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 25px;
  }
  
  .volunteer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    /* border-color: red; */
  }
  

  .volunteer-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: none;
    /* border-bottom: 2px solid yellow; */
    font-size: 1rem;
  }
  
  .volunteer-textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 25px;
    border-color: black;
    border-bottom: 2px solid black;
    font-size: 1rem;
  }
  
  .volunteer-button {
    padding: 10px 20px;
    background-color: #F1C40F;
    color: #fff;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
  }
  
  .volunteer-button:hover {
    background-color: black;
  }

  /* Animations */

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: slideIn 1s forwards;
    }
    
    @keyframes slideIn {
    from {
    transform: translateX(-50%);
    opacity: 0;
    }
    to {
    transform: translateX(0);
    opacity: 1;
    }
    }
    
    .video-iframe {
    width: 100%;
    height: 500px;
    border: none;
    animation: fadeIn 1s forwards;
    }
    
    @keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
    }
    
    .volunteer-form {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    animation: slideInFromRight 1s forwards;
    }
    
    @keyframes slideInFromRight {
    from {
    transform: translateX(50%);
    opacity: 0;
    }
    to {
    transform: translateX(0);
    opacity: 1;
    }
    }
    
    .volunteer-label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    color: #ccc;
    }
    
    .volunteer-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    
    }
    
    .volunteer-textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
    color: black;
    }
    
    
    
    @media (min-width: 768px) {
    .resources-container {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    }
}
    .hero-section {
    flex-basis: 50%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    }
    
    .articles-container {
        background-color: white;
    flex-basis: calc(50% - 40px);
    }
    
    
    
    .donate-container {
        background-color: black;
    flex-basis: 100%;
  
    }
    
    .articles-list {
    display: flex;
   
    padding-left: 10%;
    }
    
    .article-item {
    margin-bottom: 20px;
    list-style: none;
    }
    
    .article-item a {
    color: burnt orange;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    }
    
    .article-item a:hover {
    color: orange;
    } 
   
    .volunteer-header,
    .donate-header {
    margin-top: 50px;
    }  

  


