* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: white;
}

body {
	display: flex;
	justify-content: right;
    margin-left: -20%;
	align-self: center;
	height: 100vh;
	/* background: rgb(2, 0, 34); */
    background: #032754;
}

#earth {
	position: relative;
	width: 500px;
	height: 500px;
	border-radius: 50%;
    right: -40%;
    top: 390px;
	background: transparent url("https://i.imgur.com/Qk4UXcU.png");
	background-size: cover;
	box-shadow: inset 0px -20px 50px 10px #00ffff80,
        0px 0px 30px 6px #00ffff70;
	transform-style: preserve-3d;
	transform: rotate(20deg);
	animation: rotate 15s linear infinite;
}

@keyframes rotate {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 530px 0;
	}
}

.title-container1{
    position: absolute;
    width: 40%;
    height: auto;
    top: 40%;
    left: 4%;
    transform: translateY(-50%);
    
}

.title{
    color: rgb(231, 231, 231);
    padding: 0 2rem;
}
.h1{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: white;
    display: flex;
    justify-content: center;
}

.p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    width: 85%;
    margin-left: 1rem auto;
    margin-right: auto;
}

.picture{
    height: 400px;
    width: 400px;
}
