@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: white;
}

body {
    position: relative;
    background: #032754;
}

.contain {
    height: 700px;
    transform: translateY(-30px);
    background-color: #032754;
}

#earth-c {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    right: -60%;
    top: 90px;
    background: transparent url("https://i.imgur.com/Qk4UXcU.png");
    background-size: cover;
    box-shadow: inset 0px -20px 50px 10px #00ffff80,
        0px 0px 30px 6px #00ffff70;
    transform-style: preserve-3d;
    transform: rotate(20deg);
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 530px 0;
    }
}

.title-container1 {
    position: absolute;
    width: 40%;
    min-height: auto;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.title-5 {
    color: rgb(231, 231, 231);
    padding: 0 2rem;

}

.heading-5 {
    text-transform: uppercase;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    font-style: white;

}

.parag-5 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    color: white;
    top: 20%;
    right: -60%;
}

.picture-c {
    height: 300px;
    width: 300px;
    right: -20%;
}

.button {
    border: none;
    outline: none;
    height: 40px;
    width: 140px;
    background: #81ecec;
    font-size: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    background: #81ecec;
    box-shadow: 0 0 5px #81ecec,
        0 0 20px #81ecec,
        0 0 60px #81ecec,
        0 0 150px #81ecec;
}