.footer {
<<<<<<< HEAD
    background-color: #173E76;;
    color: black;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  
.footer-content, .footer-section {
  background-color: #173E76;;
}


  .footer-section {
    flex: 1 1 33%;
    margin-right: 2rem;
  }
  
  .footer-section:last-child {
    margin-right: 0;
  }
  
  .footer h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
    color: #F1C40F;
  }
  
  .footer p {
    margin-bottom: 0.5rem;
    background-color: #173E76;
    color:#F1C40F

  }

  .footer h3 {
    background-color: #173E76;;
  }
  
  .footer-button {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
  }
  
  .footer-button:hover {
    background-color: #D35400;
    color: #F1C40F;
  }
  
  ul.footer-social {
    list-style: none;
    padding: 0;
    margin: 0;
    /* color: white; */
    background-color: #173E76;
  }
  
  .footer-social li {
    display: inline-block;
    margin-right: 1rem;
  }
  
  .footer-social li:last-child {
    margin-right: 0;
  }
  
  .footer-social a {
    background-color: #173E76; 
  color: aliceblue;}
  
  .footer-social a:hover {
    color: #F1C40F;
  }
  
  .footer-attribution {
    text-align: center;
    margin-top: 2rem;
  }
  
  .footer-attribution p {
    font-size: 0.8rem;
    margin: 0;
  }
  
=======
  background-color: #2e5061;
  color: #F5F6FA;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-section {
  flex: 1 1 33%;
  margin-right: 2rem;
}

.footer-section:last-child {
  margin-right: 0;
}

.footer h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer p {
  margin-bottom: 0.5rem;
}

.footer-button {
  background-color: #8CDFFD;
  color: #2e5061;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.footer-button:hover {
  background-color: #D35400;
  color: #F1C40F;
}

.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social li {
  display: inline-block;
  margin-right: 1rem;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social a {
  color: #F5F6FA;
}

.footer-social a:hover {
  color: #F1C40F;
}

.footer-attribution {
  text-align: center;
  margin-top: 2rem;
}

.footer-attribution p {
  font-size: 0.8rem;
  margin: 0;
}
>>>>>>> 89cecdd3f4cf5a899c4ac4dc41e0b9ec77d75156
