.contain-b{
   position: relative;
   width: 1500px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 50px;
   background: #032754;
}

.heading-2{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5F89BD;
    text-transform: uppercase;
    font-size: 3rem;
    background: #032754;
}
.heading-4{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Urbanist', sans-serif;
    background: #032754;
}
.heading-natural{
    font-family: 'Urbanist', sans-serif;
    color: #fff;
}
.parag-n{
    font-family: 'Urbanist', sans-serif;
    color: #fff;
}
.contain-b .card-b{
    max-width: 300px;
    position: relative;
    height: 490px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.container-b .card-b:hover{
    height: 420px;
}

.contain-b .card-b .img-b{
    position: relative;
    width: 260px;
    height: 200px;
   
 
   
}
.contain-b .card-b .img-b img{
    max-width: 100%;
    height: 200px;
    border-radius: 4px;
}
.contain-b .card-b .content{
    position: relative;
    text-align: center;
    color: #fff;
    
}
.contain-b .btn-c{
    text-decoration: none;
    padding: 0.5rem 2rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    display: flex;
    justify-content: center;
}